:root {
    --white: #f5f5f5;
    --blue: rgb(27, 125, 238);
    --blue-transparent: rgba(27, 125, 238, 0.315);
}

.logo {
    width: 2em;
}

/* Cartas */

.btn-card {
    background-color: var(--blue);
    color: var(--white);
    padding: 5px 2em;
    transition: 0.3s;
    width: 100%;
    white-space: nowrap;
}

.btn:hover {
    background-color: var(--blue);
    color: var(--white);
    transform: scale(1.02);
}

#country-offName,
#country-detail {
    font-size: 0.9em;
}

.card #country-name,
.card #country-detail,
.card p {
    margin-bottom: 2px;
}

.card__info {
    width: 100%;
}


/* Carta pequeña */
.card--litle{
    background-color: var(--white);
    padding: 0.5em 0.8em;
    border-radius: 7px;
    width: max-content;
}

.card--litle p{
    margin-bottom: 0;
}


/* Modal */
.modal-header{
    background-color: var(--blue);
    color: var(--white);
}

.modal-body, .modal-footer{
    background-color: var(--white);
}

.modal__img{
    height: 9em;
}

.btn-close{
    background-color: var(--white);
    margin-right: 2em !important;
}

.modalCard{
    background-color: white;
    border-radius: 10px;
    padding: 1em 0.8em;
    box-shadow: 4px 4px 17px -10px rgba(0,0,0,0.1);
    height: 100%;
}

.icon{
    width: 25px;
    
}

.modal-body{
    margin: 0em;
}

.modalCard p, .modalCard h6{
    margin-bottom: 4px;
}

/* Países por Nombre */
#btn-search{
    padding: 0.5em 1em;
    font-size: 1em;
}



@media (min-width: 768px) {

    .btn-card {
        width: auto;
        font-size: 0.9em;
    }
    
    .card__info {
        width: 75vw;
    }
}