:root{
    --white: #f5f5f5;
    --blue: rgb(27, 125, 238);
    --blue-transparent: rgba(27, 125, 238, 0.315);
}

.logo{
    width: 2em;
}

/* Cartas */
.icon{
    width: 25px;
}

.cardC{
    background-color: var(--white);
    border-radius: 0.5em;
    overflow: hidden;
    max-width: 22em;
    width: 100%;
}

.cardC__img{
    width: 100%;
}

.btn-card{
    background-color: var(--blue);
    color: var(--white);
    padding: 2px 2em;
    width: 100%;
    border-radius: 15px;
}

.cardC #country-name, .cardC #country-detail, .cardC p{
    margin-bottom: 2px;
}

.cardC .card__detail{
    display: none;
}

.card__info{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 100%;
}

.card__body{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 1em;
}

.card__btn{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

@media (min-width: 768px) {

    .cardC{
        max-width: none;
        display: flex;
        max-height: 7em;
        width: 40vw;
    }

    .cardC__img{

        width:22em;
        object-fit: cover;
    }

    .cardC .card__detail{
        display: flex;
        background-color: var(--blue-transparent);
        padding: 0px 20px;
        border-radius: 1em;
        width: min-content;
    }

    .btn-card{
        width: max-content;
    }
}


@media (min-width: 1200px) {

}